/*
*	Author: Morne Erasmus
*	Assignment: BSc Mobile	Web	Applications,	Digital	Skills	Academy
*	Student	ID:	morne.erasmus@digitalskillsacademy.me
*	Date: 2017/01/05
*	Ref: https://docs.angularjs.org/api
*/

.checked-true {
    color:dimgrey;
    text-decoration:line-through;
    opacity: 0.5;
}
