<!--
*	Author: Morne Erasmus
*	Assignment: BSc Mobile	Web	Applications,	Digital	Skills	Academy
*	Student	ID:	Student	ID:	morne.erasmus@digitalskillsacademy.me
*	Date: 2017/01/05
*	Ref: https://docs.angularjs.org/api
-->

<!DOCTYPE HTML>
<html data-ng-app="TaskITApp"> <!-- initializes the app and linking the name to the module -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="An app that allows you to track your tasks">
        <meta name="author" content="Morne Erasmus">
        <title>TaskIT AngularJS TaskList</title>
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="jumbotron-narrow.css" rel="stylesheet">
        <link href="css/myStyle.css" rel="stylesheet"> <!-- Link to my style sheet -->
    </head>
    <body >
        <div data-ng-controller="TaskITController"> <!-- this is the controller i'm using which is called TaskITController. it is stored in an external js file -->
            <div class="container-fluid">
                <div class="header clearfix">
                    <nav>
                        <ul class="nav nav-pills pull-right">
                            <li role="presentation" class="active">
                            </li>
                            <li role="presentation">
                            </li>
                            <li role="presentation">
                            </li>
                        </ul>
                    </nav>
                    <div>
                        <span class="text-muted" style="font-size:15pt;">Pending(<span style="color:red;">{{ outstandingList() }}</span>)</span>  <!-- This displays the pending tasks -->
                        <span class="text-muted pull-right" style="font-size:15pt;">Total Tasks({{ totalItems }})</span>  <!-- This displays the total tasks -->
                    </div>
                </div>
                <div >
                    <div class="row">
                        <form data-ng-submit="addTask()">  <!-- This function or method is called when the form gets submitted. Going via the form allows me to utilize html 5 validation (required)-->
                        <div class="form-group text-left"> 
                            <div class="container col-md-12">
                                <div class="col-sm-4" data-pg-collapsed>
                                    <br>
                                    <label class="control-label text-left" for="formInput134">Task Title</label>
                                    <input  type="text" class="form-control" id="formInput134" placeholder="Give your task a Title..." data-ng-model="taskItemTitle" required>  <!-- binding the title input -->
                                </div>
                                <br />
                                <div class="col-sm-4">
                                    <label class="control-label text-left" for="formInput134">Task Description</label>
                                    <input type="text" class="form-control" id="formInput134" placeholder="Describe your task..." data-ng-model="taskItemDescr">   <!-- binding the description input -->
                                </div>
                                <br />
                                <div class="col-sm-4">
                                    <input class="btn btn-danger" style="background-color:#808080;border-color:#808080;box-shadow: 0px 3px #707070;" type="submit" value="Add Task">                                
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="row marketing">
                    <table class="table table-condensed">   <!-- using a table instead of li's, i simply like the table formatting more -->
                        <thead> 
                            <tr> 
                                <th>Status</th>
                                <th>Task Title</th> 
                                <th>Task Description</th> 
                                <th>Delete</th> 
                            </tr>                         
                        </thead>                     
                        <tbody> 
                            <tr data-ng-repeat="taskItem in taskList | orderBy:'status'">  <!-- Applying an orderby filter while looping through the array of objects. this ensures that completed tasks remain at the bottom of the list. -->
                                <td><input class="control-label" type="checkbox" data-ng-model="taskItem.status"></td>  <!-- creates the checkbox item and sets whether the value is checked or not -->
                                <td class="checked-{{taskItem.status}}">{{ taskItem.taskTitle }}</td>  <!-- this changes the class dynamically via use of binding so that i can style the specific table data -->
                                <td class="checked-{{taskItem.status}}">{{ taskItem.taskDescr }}</td>  <!-- this changes the class dynamically via use of binding so that i can style the specific table data -->
                                <td>
                                    <button type="button" class="close text-left pull-left" aria-hidden="true" style="color:red;" data-ng-click="removeTask(taskItem.taskID)">×</button> <!-- this removes the specific object in the array --> 
                                </td>                             
                            </tr>                                           
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-danger"  aria-hidden="true" data-ng-click="clearTasks()">Clear Tasks</button> <!-- this clears all tasks on the list.(initializing the array) -->
                </div>
                <footer class="footer">
                    <p>&copy; morne.erasmus@digitalskillsacademy.me</p>
                </footer>
            </div>  
        </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script src="Controllers/TaskITController.js"></script>
    </body>
</html>